---
import '../styles/footer.css';
---
<footer class="footer">
  <div class="footer-container">
    <div class="copyright">
      © 2023 — {new Date().getFullYear()} <a href="https://github.com/gioahumada">gioahumada.</a> Todos los derechos reservados.
    </div>
    <div class="social-links">
      <a href="https://x.com/Rockjaj" class="social-link">X</a>
      <a href="https://www.instagram.com/gio.ahumada1/" class="social-link">Instagram</a>
      <a href="https://www.linkedin.com/in/gioahumada/" class="social-link">LinkedIn</a>
    </div>
  </div>
</footer> 