---
import '../styles/footer.css';
---
<footer class="footer">
  <div class="footer-container">
    <div class="copyright">
      © {new Date().getFullYear()} Tu Empresa. Todos los derechos reservados.
    </div>
    <div class="social-links">
      <a href="#" class="social-link">Facebook</a>
      <a href="#" class="social-link">Twitter</a>
      <a href="#" class="social-link">Instagram</a>
    </div>
  </div>
</footer> 